In [1]:
import pandas as pd
# Importa libreria geopandas como gpd
import geopandas as gpd

# Extracción de las MANZANAS en Shapefile

In [2]:
# Lee archivo shapefile de distritos del norte de Irlanda.
# Antes hay que asegurarse de crear la carpeta Shapefiles y subir todos los archivos de Shapefiles.zip
gdf_districts = gpd.read_file('MANZANA.shp') # Distritos del norte de Irlanda

# muestra el tipo de dato
type(gdf_districts)

geopandas.geodataframe.GeoDataFrame

In [ ]:
gdf_Lima = gdf_districts.copy()
gdf_Lima = gdf_Lima[(gdf_Lima.DEPARTAMEN == 'LIMA') & (gdf_Lima.PROVINCIA == 'LIMA')]

In [54]:
gdf_Lima.head(5)

,IDMANZANA,CODDPTO,CODPROV,CODDIST,CODZONA,SUFZONA,CODMZNA,SUFMZNA,UBIGEO,CODCCPP,DEPARTAMEN,PROVINCIA,DISTRITO,NOMCCCPP,IDCCPP,Shape_STAr,Shape_STLe,geometry
340925,150101013000450,15,01,01,013,00,045,0,150101,0001,LIMA,LIMA,LIMA,LIMA,1501010001,3.140281e-07,0.002454,"POLYGON ((-77.06513 -12.05393, -77.06549 -12.0..."
340926,150101013000410,15,01,01,013,00,041,0,150101,0001,LIMA,LIMA,LIMA,LIMA,1501010001,4.670634e-07,0.003969,"POLYGON ((-77.06667 -12.0535, -77.0663 -12.053..."
340927,150101013000350,15,01,01,013,00,035,0,150101,0001,LIMA,LIMA,LIMA,LIMA,1501010001,6.790691e-08,0.001773,"POLYGON ((-77.06712 -12.05334, -77.06711 -12.0..."
340928,150101013000370,15,01,01,013,00,037,0,150101,0001,LIMA,LIMA,LIMA,LIMA,1501010001,1.303425e-07,0.002416,"POLYGON ((-77.06729 -12.05376, -77.06739 -12.0..."
340929,150101013000340,15,01,01,013,00,034,0,150101,0001,LIMA,LIMA,LIMA,LIMA,1501010001,6.984726e-08,0.001533,"POLYGON ((-77.06751 -12.05394, -77.06758 -12.0..."

In [6]:
gdf_Lima.shape

(107100, 18)

# Extracción de Albergues potenciales

## Centros recreacionales

In [169]:
df_recreacion = pd.read_excel('Equipamiento de recreación pública (PLANMET 2040).xlsx')

In [170]:
print('Registros de Centros recreacionales en BRUTO: ',df_recreacion.shape[0])

Registros de Centros recreacionales en BRUTO:  6655

In [171]:
df_recreacion.head(5)

,OBJECTID,COD_EQ,ID_MANZANA,IDLOTE,IDMZNAR,COD_SECT,TIPO_EQ,SUBTIPO_EQ,NOM_EQ,AREA_M2,OBSERV,NOMBDIST,NOMBPROV,NOMBDEP,Shape__Area,Shape__Length
0,1,RE-1042,150139002000130,NaN,NaN,NaN,RECREACION PUBLICA,PLAZA,Plaza Miami,8521.913596,CEMENTO,SANTA ROSA,LIMA,LIMA,8521.91,420.40
1,2,RE-1043,150139004000190,NaN,NaN,NaN,RECREACION PUBLICA,PLAZA PRINCIPAL,Plaza de Armas de Santa Rosa,3521.627604,CEMENTO,SANTA ROSA,LIMA,LIMA,3521.63,257.03
2,3,RE-1044,150125010000490,NaN,NaN,NaN,RECREACION PUBLICA,PARQUE LOCAL,NaN,2521.858226,VERDE,PUENTE PIEDRA,LIMA,LIMA,2521.86,397.11
3,4,RE-1045,15012504800011D,NaN,NaN,NaN,RECREACION PUBLICA,PLAZA,Plaza Virgen de la Medalla Milagrosa,5417.728509,VERDE,PUENTE PIEDRA,LIMA,LIMA,5417.73,329.34
4,5,RE-1046,150125002000480,NaN,NaN,NaN,RECREACION PUBLICA,PARQUE LOCAL,Plaza Jerusalén,4727.502509,VERDE,PUENTE PIEDRA,LIMA,LIMA,4727.50,275.62

In [172]:
df_recreacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6655 entries, 0 to 6654
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OBJECTID       6655 non-null   int64
 1   COD_EQ         6654 non-null   object
 2   ID_MANZANA     5530 non-null   object
 3   IDLOTE         0 non-null      float64
 4   IDMZNAR        169 non-null    object
 5   COD_SECT       0 non-null      float64
 6   TIPO_EQ        6654 non-null   object
 7   SUBTIPO_EQ     6655 non-null   object
 8   NOM_EQ         3019 non-null   object
 9   AREA_M2        6655 non-null   float64
 10  OBSERV         6654 non-null   object
 11  NOMBDIST       6655 non-null   object
 12  NOMBPROV       6654 non-null   object
 13  NOMBDEP        6654 non-null   object
 14  Shape__Area    6655 non-null   float64
 15  Shape__Length  6655 non-null   float64
dtypes: float64(5), int64(1), object(10)
memory usage: 832.0+ KB

In [173]:
# Convertir la columna ID_MANZANA a string
df_recreacion['ID_MANZANA'] = df_recreacion['ID_MANZANA'].astype(str)

In [174]:
# CRUZAR DATOS DE SHAPEFILE
# Realizar el inner join entre gdf_Lima y df_recreacion_filter
# La clave de unión es "ID_MANZANA"
gdf_recreacion = gdf_Lima.merge(df_recreacion, left_on='IDMANZANA', right_on='ID_MANZANA', how='inner')

In [175]:
print('Centros recreacionales que tienen Shapefile: ', gdf_recreacion.shape[0])

Centros recreacionales que tienen Shapefile:  5471

In [176]:
gdf_recreacion.sample(5)

,IDMANZANA,CODDPTO,CODPROV,CODDIST,CODZONA,SUFZONA,CODMZNA,SUFMZNA,UBIGEO,CODCCPP,...,TIPO_EQ,SUBTIPO_EQ,NOM_EQ,AREA_M2,OBSERV,NOMBDIST,NOMBPROV,NOMBDEP,Shape__Area,Shape__Length
5331,150117005000190,15,01,17,005,00,019,0,150117,0001,...,RECREACION PUBLICA,PARQUE LOCAL,Parque La Huaca,4870.511909,VERDE,LOS OLIVOS,LIMA,LIMA,4870.51,398.54
2345,150135043000430,15,01,35,043,00,043,0,150135,0001,...,RECREACION PUBLICA,PARQUE LOCAL,Parque Ama Kella II,541.056127,VERDE,SAN MARTIN DE PORRES,LIMA,LIMA,541.06,96.10
2740,15013900400047B,15,01,39,004,00,047,B,150139,0001,...,RECREACION PUBLICA,PARQUE LOCAL,NaN,1867.748435,TIERRA,SANTA ROSA,LIMA,LIMA,1867.75,204.87
4269,150141008000450,15,01,41,008,00,045,0,150141,0001,...,RECREACION PUBLICA,PARQUE LOCAL,Parque Trinidad,2363.620735,VERDE,SURQUILLO,LIMA,LIMA,2363.62,195.33
3198,150142010000400,15,01,42,010,00,040,0,150142,0001,...,RECREACION PUBLICA,PARQUE LOCAL,Parque Sector 1 Grupo 10,3430.733731,TIERRA,VILLA EL SALVADOR,LIMA,LIMA,3430.73,254.92

In [177]:
# DATOS QUE NO SE CRUZAN
# Realizar el outer join entre gdf_Lima y df_recreacion_filter
gdf_result = gdf_Lima.merge(df_recreacion, left_on='IDMANZANA', right_on='ID_MANZANA', how='outer', indicator=True)

# Filtrar los registros que no encontraron coincidencia
no_match_recreacion = gdf_result[gdf_result['_merge'] == 'right_only']

In [178]:
no_match_recreacion_rastreable = no_match_recreacion.dropna(subset=['NOM_EQ'])

In [179]:
print('Centros recreacionales que NO tienen Shapefile, pero son rastreables: ', no_match_recreacion_rastreable.shape[0])

Centros recreacionales que NO tienen Shapefile, pero son rastreables:  234

In [181]:
no_match_recreacion_rastreable.head(5)

,IDMANZANA,CODDPTO,CODPROV,CODDIST,CODZONA,SUFZONA,CODMZNA,SUFMZNA,UBIGEO,CODCCPP,...,SUBTIPO_EQ,NOM_EQ,AREA_M2,OBSERV,NOMBDIST,NOMBPROV,NOMBDEP,Shape__Area,Shape__Length,_merge
107227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,PARQUE LOCAL,Parque Miraflores,1596.316754,VERDE,PUENTE PIEDRA,LIMA,LIMA,1596.32,160.91,right_only
107229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,PLAZUELA,Plazuela Inca Garcilaso de la Vega,179.870590,VERDE,JESUS MARIA,LIMA,LIMA,179.87,80.74,right_only
107230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,PLAZUELA,Plazuela Jardin de Santa Rosa,1613.930194,CEMENTO,LIMA,LIMA,LIMA,1613.93,170.07,right_only
107231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,PLAZUELA,Plazuela San Agustín,648.665773,CEMENTO,LIMA,LIMA,LIMA,648.67,102.16,right_only
107232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,PLAZUELA,Plazuela Las Limeñitas,966.531211,CEMENTO,LIMA,LIMA,LIMA,966.53,134.99,right_only

## Centros deportivos

In [85]:
df_deportivo = pd.read_excel('Equipamiento deportivo (PLANMET 2040).xlsx')

In [88]:
df_deportivo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4216 entries, 0 to 4215
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OBJECTID      4216 non-null   int64
 1   COD_EQ        4216 non-null   object
 2   ID_MANZANA    3939 non-null   object
 3   IDLOTE        0 non-null      float64
 4   IDMZNAR       0 non-null      float64
 5   COD_SECT      0 non-null      float64
 6   TIPO_EQ       4216 non-null   object
 7   SUBTIPO_EQ    4216 non-null   object
 8   NOM_EQ        370 non-null    object
 9   AREA_M2       4216 non-null   float64
 10  OBSERV        0 non-null      float64
 11  NOMBDIST      4216 non-null   object
 12  NOMBPROV      4216 non-null   object
 13  NOMBDEP       4216 non-null   object
 14  NOM_UA        0 non-null      float64
 15  Shape_Area    4216 non-null   float64
 16  Shape_Length  4216 non-null   float64
dtypes: float64(8), int64(1), object(8)
memory usage: 560.1+ KB

In [183]:
# Convertir la columna ID_MANZANA a string
df_deportivo['ID_MANZANA'] = df_deportivo['ID_MANZANA'].astype(str)

In [185]:
# CRUZAR DATOS DE SHAPEFILE
# Realizar el inner join entre gdf_Lima y df_recreacion_filter
# La clave de unión es "ID_MANZANA"
gdf_deportivo = gdf_Lima.merge(df_deportivo, left_on='IDMANZANA', right_on='ID_MANZANA', how='inner')

In [186]:
print('Centros deportivos que tienen Shapefile: ', gdf_deportivo.shape[0])

Centros deportivos que tienen Shapefile:  3939

In [187]:
gdf_deportivo.head(5)

,IDMANZANA,CODDPTO,CODPROV,CODDIST,CODZONA,SUFZONA,CODMZNA,SUFMZNA,UBIGEO,CODCCPP,...,SUBTIPO_EQ,NOM_EQ,AREA_M2,OBSERV,NOMBDIST,NOMBPROV,NOMBDEP,NOM_UA,Shape_Area,Shape_Length
0,15010101200057A,15,01,01,012,00,057,A,150101,0001,...,LOSA MULTIDEPORTIVA,NaN,677.655821,NaN,LIMA,LIMA,LIMA,NaN,677.66,105.50
1,15010101000036B,15,01,01,010,00,036,B,150101,0001,...,CAMPO DEPORTIVO,LA LUZ,1613.728559,NaN,LIMA,LIMA,LIMA,NaN,1613.73,161.13
2,150101033000440,15,01,01,033,00,044,0,150101,0001,...,COMPLEJO DEPORTIVO,EMILIO SANCHEZ SALAZAR,3228.832815,NaN,LIMA,LIMA,LIMA,NaN,3228.83,339.87
3,15010103000020A,15,01,01,030,00,020,A,150101,0001,...,PISCINA DEPORTIVA,MARAVILLAS,3506.489084,NaN,LIMA,LIMA,LIMA,NaN,3506.49,247.34
4,150101030000510,15,01,01,030,00,051,0,150101,0001,...,LOSA MULTIDEPORTIVA,NaN,511.679575,NaN,LIMA,LIMA,LIMA,NaN,511.68,91.13

In [188]:
# DATOS QUE NO SE CRUZAN
# Realizar el outer join entre gdf_Lima y df_recreacion_filter
gdf_result2 = gdf_Lima.merge(df_deportivo, left_on='IDMANZANA', right_on='ID_MANZANA', how='outer', indicator=True)

# Filtrar los registros que no encontraron coincidencia
no_match_deportivo = gdf_result2[gdf_result2['_merge'] == 'right_only']

In [189]:
no_match_deportivo_rastreable = no_match_deportivo.dropna(subset=['NOM_EQ'])

In [190]:
print('Centros deportivos que NO tienen Shapefile, pero son rastreables: ', no_match_deportivo_rastreable.shape[0])

Centros deportivos que NO tienen Shapefile, pero son rastreables:  12

# Agrupamiento de Albergues potenciales: Recreativos + deportivos

In [197]:
# Concatenar los dos DataFrames a nivel de filas
gdf_combined = pd.concat([gdf_recreacion, gdf_deportivo], axis=0, ignore_index=True)

In [198]:
gdf_combined

,IDMANZANA,CODDPTO,CODPROV,CODDIST,CODZONA,SUFZONA,CODMZNA,SUFMZNA,UBIGEO,CODCCPP,...,AREA_M2,OBSERV,NOMBDIST,NOMBPROV,NOMBDEP,Shape__Area,Shape__Length,NOM_UA,Shape_Area,Shape_Length
0,150101013000530,15,01,01,013,00,053,0,150101,0001,...,1172.813729,VERDE,LIMA,LIMA,LIMA,1172.81,138.60,NaN,NaN,NaN
1,150101013000070,15,01,01,013,00,007,0,150101,0001,...,10716.878391,VERDE,LIMA,LIMA,LIMA,10716.88,416.79,NaN,NaN,NaN
2,150101011000140,15,01,01,011,00,014,0,150101,0001,...,3890.951639,VERDE,LIMA,LIMA,LIMA,3890.95,286.77,NaN,NaN,NaN
3,15010101200027A,15,01,01,012,00,027,A,150101,0001,...,4749.872524,VERDE,LIMA,LIMA,LIMA,4749.87,302.41,NaN,NaN,NaN
4,15010101200057A,15,01,01,012,00,057,A,150101,0001,...,1196.490408,TIERRA,LIMA,LIMA,LIMA,1196.49,151.85,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9405,150117013000100,15,01,17,013,00,010,0,150117,0001,...,313.150670,NaN,LOS OLIVOS,LIMA,LIMA,NaN,NaN,NaN,313.15,75.97
9406,150141004000010,15,01,41,004,00,001,0,150141,0001,...,25430.316069,NaN,SURQUILLO,LIMA,LIMA,NaN,NaN,NaN,25430.32,655.95
9407,150130009000330,15,01,30,009,00,033,0,150130,0001,...,3289.875593,NaN,SAN BORJA,LIMA,LIMA,NaN,NaN,NaN,3289.88,259.43
9408,150130016000480,15,01,30,016,00,048,0,150130,0001,...,8357.144510,NaN,SAN BORJA,LIMA,LIMA,NaN,NaN,NaN,8357.14,354.10
9409,150130014000230,15,01,30,014,00,023,0,150130,0001,...,11644.072195,NaN,SAN BORJA,LIMA,LIMA,NaN,NaN,NaN,11644.07,407.34

In [199]:
gdf_combined.shape

(9410, 37)

In [200]:
# Eliminar filas con valores duplicados en la columna ID_MANZANA
gdf_combined = gdf_combined.drop_duplicates(subset='ID_MANZANA', keep='first')

In [203]:
gdf_combined.shape

(7420, 37)