In [1]:
import pandas as pd
import numpy as np

In [4]:
tsunami = pd.ExcelFile('Zonas vulnerables ante tsunami.xlsx')
vuln = pd.ExcelFile('Zonas con vulnerabilidad ante sismos (PLANMET 2040).xlsx')
riesgo = pd.ExcelFile('Zonas con riesgo ante sismos.xlsx')
densidad = pd.ExcelFile('Población Manzana Densidad 2017 (PLANMET 2040).xlsx')
infraestructura = pd.ExcelFile('Infraestructura (PLANMET 2040).xlsx')
deportivo = pd.ExcelFile('Equipamiento deportivo (PLANMET 2040).xlsx')
salud = pd.ExcelFile('Equipamiento de salud (PLANMET 2040) (653 entidades).xlsx')
recreacion = pd.ExcelFile('Equipamiento de recreación pública (PLANMET 2040).xlsx')
electricidad = pd.ExcelFile('Cobertura eléctrica.xlsx')
agua = pd.ExcelFile('Cobertura de Agua.xlsx')
areas_verdes = pd.ExcelFile('Areas verdes.xlsx')

In [7]:
print(tsunami.sheet_names, 
      vuln.sheet_names,
     riesgo.sheet_names,
     densidad.sheet_names,
     infraestructura.sheet_names,
     deportivo.sheet_names,
     salud.sheet_names,
     recreacion.sheet_names,
     electricidad.sheet_names,
     agua.sheet_names,
     areas_verdes.sheet_names)

['Sheet1'] ['Sheet1'] ['Sheet1'] ['Sheet1'] ['Hoja 1'] ['Hoja 1'] ['Hoja 1'] ['Hoja 1'] ['Sheet1'] ['Sheet1'] ['Sheet1']

In [10]:
# Cargar cada hoja (tabla) en un dataframe
tsu = tsunami.parse('Sheet1')
vul = vuln.parse('Sheet1')
risk = riesgo.parse('Sheet1')
dens = densidad.parse('Sheet1')
inf = infraestructura.parse('Hoja 1')
dep = deportivo.parse('Hoja 1')
sal = salud.parse('Hoja 1')
rec = recreacion.parse('Hoja 1')
elec = electricidad.parse('Sheet1')
agua = agua.parse('Sheet1')
verde = areas_verdes.parse('Sheet1')

## Vulnerabilidad ante tsunami

In [25]:
tsu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114084 entries, 0 to 114083
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   OBJECTID      114084 non-null  int64
 1   ID_MANZANA    114080 non-null  object
 2   COD_VULNE     114084 non-null  object
 3   TIPO_VULNE    114084 non-null  object
 4   NIV_VULNE     114084 non-null  object
 5   DESC_VULNE    114084 non-null  object
 6   NOM_PELI      114084 non-null  object
 7   NOMBDIST      114084 non-null  object
 8   NOMBPROV      114084 non-null  object
 9   NOMBDEP       114084 non-null  object
 10  AREA_HAS      114084 non-null  float64
 11  SHAPE_AREA    114084 non-null  float64
 12  SHAPE_LENGHT  114084 non-null  float64
dtypes: float64(3), int64(1), object(9)
memory usage: 11.3+ MB

In [28]:
tsu['ID_MANZANA'].nunique()

106993

In [31]:
eliminar = tsu[(tsu['ID_MANZANA'].isnull()) | (tsu['ID_MANZANA'].astype(str).str.len() < 5)].index

In [34]:
tsu.drop(eliminar, inplace=True)

In [37]:
tsu['ID_MANZANA'].nunique()

106992

In [43]:
tsu.shape

(108814, 13)

## Vulnerabilidad ante sismos

In [46]:
vul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114084 entries, 0 to 114083
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   OBJECTID      114084 non-null  int64
 1   ID_MANZANA    114077 non-null  object
 2   COD_VULNE     114084 non-null  object
 3   TIPO_VULNE    114084 non-null  object
 4   NIV_VULNE     114084 non-null  object
 5   DESC_VULNE    114084 non-null  object
 6   NOM_PELI      114084 non-null  object
 7   NOMBDIST      114084 non-null  object
 8   NOMBPROV      114084 non-null  object
 9   NOMBDEP       114084 non-null  object
 10  AREA_HAS      114084 non-null  float64
 11  SHAPE_AREA    114084 non-null  float64
 12  SHAPE_LENGHT  114084 non-null  float64
dtypes: float64(3), int64(1), object(9)
memory usage: 11.3+ MB

In [49]:
vul['ID_MANZANA'].nunique()

106992

In [52]:
eliminar = vul[(vul['ID_MANZANA'].isnull()) | (vul['ID_MANZANA'].astype(str).str.len() < 5)].index
vul.drop(eliminar, inplace=True)
vul['ID_MANZANA'].nunique()

106991

In [55]:
vul.shape

(108816, 13)

## Riesgo ante sismos

In [58]:
risk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114084 entries, 0 to 114083
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   OBJECTID      114084 non-null  int64
 1   ID_MANZANA    114076 non-null  object
 2   COD_RIESGO    114084 non-null  object
 3   NIV_RIESGO    114084 non-null  object
 4   NOM_PELI      114084 non-null  object
 5   DESC_RIESG    114084 non-null  object
 6   NOMBDIST      114084 non-null  object
 7   NOMBPROV      114084 non-null  object
 8   NOMBDEP       114084 non-null  object
 9   AREA_HAS      114084 non-null  float64
 10  SHAPE_AREA    114084 non-null  float64
 11  SHAPE_LENGHT  114084 non-null  float64
dtypes: float64(3), int64(1), object(8)
memory usage: 10.4+ MB

In [61]:
risk['ID_MANZANA'].nunique()

106992

In [64]:
eliminar = risk[(risk['ID_MANZANA'].isnull()) | (risk['ID_MANZANA'].astype(str).str.len() < 5)].index
risk.drop(eliminar, inplace=True)
risk['ID_MANZANA'].nunique()

106991

In [67]:
risk.shape

(108815, 12)

## Densidad poblacional

In [70]:
dens.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112261 entries, 0 to 112260
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   OBJECTID      112261 non-null  int64
 1   ID_MANZANA    112261 non-null  object
 2   IDMZNAR       112261 non-null  object
 3   AREA_M2       112261 non-null  float64
 4   TOT_POB17     112261 non-null  int64
 5   TOT_POB20     112261 non-null  int64
 6   DENS_POB17    112261 non-null  float64
 7   DENS_POB20    112261 non-null  float64
 8   SHAPE_AREA    112261 non-null  float64
 9   SHAPE_LENGHT  112261 non-null  float64
dtypes: float64(5), int64(3), object(2)
memory usage: 8.6+ MB

In [73]:
eliminar = dens[(dens['ID_MANZANA'].isnull()) | (dens['ID_MANZANA'].astype(str).str.len() < 5)].index
dens.drop(eliminar, inplace=True)
dens['ID_MANZANA'].nunique()

106989

In [76]:
dens.shape

(106989, 10)

## Infraestructura

In [134]:
inf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3525 entries, 0 to 3524
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OBJECTID      3525 non-null   int64
 1   COD_INF       3525 non-null   object
 2   TIPO          3525 non-null   object
 3   SUBTIPO       3525 non-null   object
 4   NOM_INF       3525 non-null   object
 5   AREA_M2       3522 non-null   float64
 6   NOMBDIST      3525 non-null   object
 7   NOMBPROV      3525 non-null   object
 8   NOMBDEP       3525 non-null   object
 9   Shape_Area    3525 non-null   float64
 10  Shape_Length  3525 non-null   float64
dtypes: float64(3), int64(1), object(7)
memory usage: 303.1+ KB

In [140]:
inf['AREA_M2'] = inf['AREA_M2'].fillna('') #esto es solo para pasarlo a SQL

In [142]:
inf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3525 entries, 0 to 3524
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OBJECTID      3525 non-null   int64
 1   COD_INF       3525 non-null   object
 2   TIPO          3525 non-null   object
 3   SUBTIPO       3525 non-null   object
 4   NOM_INF       3525 non-null   object
 5   AREA_M2       3525 non-null   object
 6   NOMBDIST      3525 non-null   object
 7   NOMBPROV      3525 non-null   object
 8   NOMBDEP       3525 non-null   object
 9   Shape_Area    3525 non-null   float64
 10  Shape_Length  3525 non-null   float64
dtypes: float64(2), int64(1), object(8)
memory usage: 303.1+ KB

## Equipamiento deportivo

In [80]:
dep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4216 entries, 0 to 4215
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OBJECTID      4216 non-null   int64
 1   COD_EQ        4216 non-null   object
 2   ID_MANZANA    3939 non-null   object
 3   IDLOTE        0 non-null      float64
 4   IDMZNAR       0 non-null      float64
 5   COD_SECT      0 non-null      float64
 6   TIPO_EQ       4216 non-null   object
 7   SUBTIPO_EQ    4216 non-null   object
 8   NOM_EQ        370 non-null    object
 9   AREA_M2       4216 non-null   float64
 10  OBSERV        0 non-null      float64
 11  NOMBDIST      4216 non-null   object
 12  NOMBPROV      4216 non-null   object
 13  NOMBDEP       4216 non-null   object
 14  NOM_UA        0 non-null      float64
 15  Shape_Area    4216 non-null   float64
 16  Shape_Length  4216 non-null   float64
dtypes: float64(8), int64(1), object(8)
memory usage: 560.1+ KB

In [83]:
dep['ID_MANZANA'].nunique()

3368

In [86]:
eliminar = dep[(dep['ID_MANZANA'].isnull()) | (dep['ID_MANZANA'].astype(str).str.len() < 5)].index
dep.drop(eliminar, inplace=True)
dep['ID_MANZANA'].nunique()

3368

In [89]:
dep.shape

(3939, 17)

In [92]:
dep.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3939 entries, 2 to 4215
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OBJECTID      3939 non-null   int64
 1   COD_EQ        3939 non-null   object
 2   ID_MANZANA    3939 non-null   object
 3   IDLOTE        0 non-null      float64
 4   IDMZNAR       0 non-null      float64
 5   COD_SECT      0 non-null      float64
 6   TIPO_EQ       3939 non-null   object
 7   SUBTIPO_EQ    3939 non-null   object
 8   NOM_EQ        358 non-null    object
 9   AREA_M2       3939 non-null   float64
 10  OBSERV        0 non-null      float64
 11  NOMBDIST      3939 non-null   object
 12  NOMBPROV      3939 non-null   object
 13  NOMBDEP       3939 non-null   object
 14  NOM_UA        0 non-null      float64
 15  Shape_Area    3939 non-null   float64
 16  Shape_Length  3939 non-null   float64
dtypes: float64(8), int64(1), object(8)
memory usage: 553.9+ KB

#### Esta parte es para incluirla en SQL

In [95]:
dep['NOM_EQ'] = dep['NOM_EQ'].fillna('')

In [98]:
dep.shape

(3939, 17)

## Equipamiento de salud

In [101]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 653 entries, 0 to 652
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OBJECT_ID     653 non-null    int64
 1   COD_EQ        653 non-null    object
 2   ID_MANZANA    647 non-null    object
 3   IDLOTE        0 non-null      float64
 4   IZMNZR        5 non-null      object
 5   COD_SECT      0 non-null      float64
 6   COD_ES        653 non-null    int64
 7   TIP_EQ        653 non-null    object
 8   INSTITUTO_ES  653 non-null    object
 9   NIV_AT_ES     653 non-null    object
 10  GEST_ES       653 non-null    object
 11  CAT_ES        653 non-null    object
 12  NCAT_ES       653 non-null    object
 13  CAPAC_ES      0 non-null      float64
 14  NOM_EQ        653 non-null    object
 15  POB_ATEN_20   653 non-null    int64
 16  AREA_M2       653 non-null    float64
 17  NOMBDIST      653 non-null    object
 18  NOMBPROV      653 non-null    object
 19  NOMBDEP       653 non-null    object
 20  NOM_UA        0 non-null      float64
 21  SHAPE_AREA    653 non-null    float64
 22  SHAPE_LENGTH  653 non-null    float64
dtypes: float64(7), int64(3), object(13)
memory usage: 117.5+ KB

In [104]:
sal['ID_MANZANA'].nunique()

611

In [107]:
eliminar = sal[(sal['ID_MANZANA'].isnull()) | (sal['ID_MANZANA'].astype(str).str.len() < 5)].index
sal.drop(eliminar, inplace=True)
sal['ID_MANZANA'].nunique()

611

In [110]:
sal.shape

(647, 23)

## Equipamiento de recreación pública

In [113]:
rec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6655 entries, 0 to 6654
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     0 non-null      float64
 1   OBJECTID       6655 non-null   int64
 2   COD_EQ         6654 non-null   object
 3   ID_MANZANA     5530 non-null   object
 4   IDLOTE         0 non-null      float64
 5   IDMZNAR        169 non-null    object
 6   COD_SECT       0 non-null      float64
 7   TIPO_EQ        6654 non-null   object
 8   SUBTIPO_EQ     6655 non-null   object
 9   NOM_EQ         3019 non-null   object
 10  AREA_M2        6655 non-null   float64
 11  OBSERV         6654 non-null   object
 12  NOMBDIST       6655 non-null   object
 13  NOMBPROV       6654 non-null   object
 14  NOMBDEP        6654 non-null   object
 15  Shape__Area    6655 non-null   float64
 16  Shape__Length  6655 non-null   float64
dtypes: float64(6), int64(1), object(10)
memory usage: 884.0+ KB

In [116]:
rec['ID_MANZANA'].nunique()

5402

In [119]:
eliminar = rec[(rec['ID_MANZANA'].isnull()) | (rec['ID_MANZANA'].astype(str).str.len() < 5)].index
rec.drop(eliminar, inplace=True)
rec['ID_MANZANA'].nunique()

5402

In [122]:
rec.shape

(5530, 17)

In [124]:
rec.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5530 entries, 0 to 6653
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     0 non-null      float64
 1   OBJECTID       5530 non-null   int64
 2   COD_EQ         5530 non-null   object
 3   ID_MANZANA     5530 non-null   object
 4   IDLOTE         0 non-null      float64
 5   IDMZNAR        0 non-null      object
 6   COD_SECT       0 non-null      float64
 7   TIPO_EQ        5530 non-null   object
 8   SUBTIPO_EQ     5530 non-null   object
 9   NOM_EQ         2803 non-null   object
 10  AREA_M2        5530 non-null   float64
 11  OBSERV         5530 non-null   object
 12  NOMBDIST       5530 non-null   object
 13  NOMBPROV       5530 non-null   object
 14  NOMBDEP        5530 non-null   object
 15  Shape__Area    5530 non-null   float64
 16  Shape__Length  5530 non-null   float64
dtypes: float64(6), int64(1), object(10)
memory usage: 777.7+ KB

#### Esta parte es para inluirla en SQL

In [128]:
rec['NOM_EQ'] = rec['NOM_EQ'].fillna('')

In [130]:
rec.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5530 entries, 0 to 6653
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     0 non-null      float64
 1   OBJECTID       5530 non-null   int64
 2   COD_EQ         5530 non-null   object
 3   ID_MANZANA     5530 non-null   object
 4   IDLOTE         0 non-null      float64
 5   IDMZNAR        0 non-null      object
 6   COD_SECT       0 non-null      float64
 7   TIPO_EQ        5530 non-null   object
 8   SUBTIPO_EQ     5530 non-null   object
 9   NOM_EQ         5530 non-null   object
 10  AREA_M2        5530 non-null   float64
 11  OBSERV         5530 non-null   object
 12  NOMBDIST       5530 non-null   object
 13  NOMBPROV       5530 non-null   object
 14  NOMBDEP        5530 non-null   object
 15  Shape__Area    5530 non-null   float64
 16  Shape__Length  5530 non-null   float64
dtypes: float64(6), int64(1), object(10)
memory usage: 777.7+ KB

## Cobertura eléctrica

In [144]:
elec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112261 entries, 0 to 112260
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   OBJECTID      112261 non-null  int64
 1   ID_MANZANA    106989 non-null  object
 2   COB_EE17      112261 non-null  object
 3   TIPO_EE17     102256 non-null  float64
 4   NOMBDIST      112261 non-null  object
 5   NOMBPROV      112261 non-null  object
 6   NOMBDEP       112261 non-null  object
 7   AREA_M2       112261 non-null  float64
 8   SHAPE_AREA    112261 non-null  float64
 9   SHAPE_LENGTH  112261 non-null  float64
dtypes: float64(4), int64(1), object(5)
memory usage: 8.6+ MB

In [146]:
elec['ID_MANZANA'].nunique()

106989

In [148]:
eliminar = elec[(elec['ID_MANZANA'].isnull()) | (elec['ID_MANZANA'].astype(str).str.len() < 5)].index
elec.drop(eliminar, inplace=True)
elec['ID_MANZANA'].nunique()

106989

In [150]:
elec.shape

(106989, 10)

In [152]:
elec.info()

<class 'pandas.core.frame.DataFrame'>
Index: 106989 entries, 0 to 107073
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   OBJECTID      106989 non-null  int64
 1   ID_MANZANA    106989 non-null  object
 2   COB_EE17      106989 non-null  object
 3   TIPO_EE17     96984 non-null   float64
 4   NOMBDIST      106989 non-null  object
 5   NOMBPROV      106989 non-null  object
 6   NOMBDEP       106989 non-null  object
 7   AREA_M2       106989 non-null  float64
 8   SHAPE_AREA    106989 non-null  float64
 9   SHAPE_LENGTH  106989 non-null  float64
dtypes: float64(4), int64(1), object(5)
memory usage: 9.0+ MB

#### Esta parte solo es para SQL

In [158]:
elec['TIPO_EE17'] = elec['TIPO_EE17'].fillna('')

## Cobertura de agua

In [160]:
agua.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112261 entries, 0 to 112260
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   OBJECTID      112261 non-null  int64
 1   CODLOTE       0 non-null       float64
 2   IDLOTE        0 non-null       float64
 3   ID_MANZANA    106989 non-null  object
 4   IDMAZNAR      5272 non-null    object
 5   COB_AP17      112261 non-null  object
 6   AREA_M2       112261 non-null  float64
 7   NOMBDIST      112261 non-null  object
 8   NOMBPROV      112261 non-null  object
 9   NOMBDEP       112261 non-null  object
 10  ID_SECT       0 non-null       float64
 11  NOM_UA        0 non-null       float64
 12  SHAPE_AREA    112261 non-null  float64
 13  SHAPE_LENGHT  112261 non-null  float64
dtypes: float64(7), int64(1), object(6)
memory usage: 12.0+ MB

In [162]:
agua['ID_MANZANA'].nunique()

106989

In [164]:
eliminar = agua[(agua['ID_MANZANA'].isnull()) | (agua['ID_MANZANA'].astype(str).str.len() < 5)].index
agua.drop(eliminar, inplace=True)
agua['ID_MANZANA'].nunique()

106989

In [166]:
agua.shape

(106989, 14)

In [168]:
agua.info()

<class 'pandas.core.frame.DataFrame'>
Index: 106989 entries, 0 to 107073
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   OBJECTID      106989 non-null  int64
 1   CODLOTE       0 non-null       float64
 2   IDLOTE        0 non-null       float64
 3   ID_MANZANA    106989 non-null  object
 4   IDMAZNAR      0 non-null       object
 5   COB_AP17      106989 non-null  object
 6   AREA_M2       106989 non-null  float64
 7   NOMBDIST      106989 non-null  object
 8   NOMBPROV      106989 non-null  object
 9   NOMBDEP       106989 non-null  object
 10  ID_SECT       0 non-null       float64
 11  NOM_UA        0 non-null       float64
 12  SHAPE_AREA    106989 non-null  float64
 13  SHAPE_LENGHT  106989 non-null  float64
dtypes: float64(7), int64(1), object(6)
memory usage: 12.2+ MB

## Áreas verdes

In [170]:
verde.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8337 entries, 0 to 8336
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OBJECTID      8337 non-null   int64
 1   COD_AV        8337 non-null   object
 2   NOM_AV        8337 non-null   object
 3   AREA_HAS      8337 non-null   float64
 4   NOMBDIST      8337 non-null   object
 5   NOMBPROV      8337 non-null   object
 6   NOMBDEP       8337 non-null   object
 7   NOM_EQ        8325 non-null   object
 8   SHAPE_AREA    8337 non-null   float64
 9   SHAPE_LENGHT  8337 non-null   float64
dtypes: float64(3), int64(1), object(6)
memory usage: 651.5+ KB

In [174]:
verde['NOM_EQ'] = verde['NOM_EQ'].fillna('') #esto solo para SQL

#### UNIFICAR Bases de datos con ID_Manzana
En esta primera parte solo se unificarán las siguientes bases de datos:

* Vulnerabilidad ante sismos
* Riesgo ante sismos
* Densidad poblacional
* Equipamiento de salud
* Cobertura de agua
* Cobertura eléctrica

##### Cambio de nombres de columnas

In [388]:
vul.rename(columns={'AREA_HAS': 'AREA_HAS_VULN','NOM_PELI':'NOM_PELI_VULN','NOMBDIST':'NOMBDIST_VULN',
                    'NOMBPROV':'NOMBPROV_VULN','NOMBDEP':'NOMBDEP_VULN',
                    'SHAPE_AREA':'SHAPE_AREA_VULN','SHAPE_LENGHT':'SHAPE_LENGHT_VULN'},inplace=True)

In [396]:
vul.rename(columns={'SHAPE_LENGHT':'SHAPE_LENGHT_VULN','AREA_HAS': 'AREA_HAS_VULN'},inplace=True)

In [402]:
risk.rename(columns={'NOM_PELI':'NOM_PELI_RIESG','NOMBDIST':'NOMBDIST_RIESG',
                    'NOMBPROV':'NOMBPROV_RIESG','NOMBDEP':'NOMBDEP_RIESG','AREA_HAS':'AREA_HAS_RIESG',
                    'SHAPE_AREA':'SHAPE_AREA_RIESG','SHAPE_LENGHT':'SHAPE_LENGHT_RIESG'},inplace=True)

In [408]:
dens.rename(columns={'SHAPE_AREA':'SHAPE_AREA_DENS','SHAPE_LENGHT':'SHAPE_LENGHT_DENS'},inplace=True)

In [418]:
sal.rename(columns={'AREA_M2':'AREA_M2_SAL','NOMBDIST':'NOMBDIST_SAL',
                    'NOMBPROV':'NOMBPROV_SAL','NOMBDEP':'NOMBDEP_SAL',
                    'SHAPE_AREA':'SHAPE_AREA_SAL','SHAPE_LENGHT':'SHAPE_LENGHT_SAL'},inplace=True)

In [424]:
agua.rename(columns={'AREA_M2':'AREA_M2_AGUA','NOMBDIST':'NOMBDIST_AGUA',
                    'NOMBPROV':'NOMBPROV_AGUA','NOMBDEP':'NOMBDEP_AGUA',
                    'SHAPE_AREA':'SHAPE_AREA_AGUA','SHAPE_LENGHT':'SHAPE_LENGHT_AGUA'},inplace=True)

In [430]:
elec.rename(columns={'AREA_M2':'AREA_M2_ELEC','NOMBDIST':'NOMBDIST_ELEC',
                    'NOMBPROV':'NOMBPROV_ELEC','NOMBDEP':'NOMBDEP_ELEC',
                    'SHAPE_AREA':'SHAPE_AREA_ELEC','SHAPE_LENGTH':'SHAPE_LENGHT_ELEC'},inplace=True)

In [446]:
vul['ID_MANZANA'] = vul['ID_MANZANA'].astype(str)
risk['ID_MANZANA'] = risk['ID_MANZANA'].astype(str)
dens['ID_MANZANA'] = dens['ID_MANZANA'].astype(str)
sal['ID_MANZANA'] = sal['ID_MANZANA'].astype(str)
agua['ID_MANZANA'] = agua['ID_MANZANA'].astype(str)
elec['ID_MANZANA'] = elec['ID_MANZANA'].astype(str)

In [537]:
vul_selected = vul[['ID_MANZANA', 'COD_VULNE', 'TIPO_VULNE','NIV_VULNE','DESC_VULNE','AREA_HAS_VULN',
                    'NOMBDIST_VULN', 'NOMBPROV_VULN','NOMBDEP_VULN','SHAPE_AREA_VULN','SHAPE_LENGHT_VULN']].copy()
risk_selected = risk[['ID_MANZANA', 'COD_RIESGO', 'NIV_RIESGO','NOM_PELI_RIESG','DESC_RIESG','AREA_HAS_RIESG',
                     'NOMBDIST_RIESG','NOMBPROV_RIESG','NOMBDEP_RIESG','SHAPE_AREA_RIESG','SHAPE_LENGHT_RIESG']].copy()
dens_selected = dens[['ID_MANZANA', 'AREA_M2','TOT_POB17','TOT_POB20','DENS_POB17','DENS_POB20',
                     'SHAPE_AREA_DENS','SHAPE_LENGHT_DENS']].copy()
sal_selected = sal[['ID_MANZANA', 'COD_ES', 'TIP_EQ','INSTITUTO_ES','NIV_AT_ES','GEST_ES','CAT_ES','NCAT_ES',
                    'NOM_EQ','POB_ATEN_20','AREA_M2_SAL','NOMBDIST_SAL','NOMBPROV_SAL','NOMBDEP_SAL',
                    'SHAPE_AREA_SAL','SHAPE_LENGHT_SAL']].copy()
agua_selected = agua[['ID_MANZANA', 'COB_AP17','AREA_M2_AGUA','NOMBDIST_AGUA',
                      'NOMBPROV_AGUA','NOMBDEP_AGUA','SHAPE_AREA_AGUA','SHAPE_LENGHT_AGUA']].copy()
elec_selected = elec[['ID_MANZANA', 'COB_EE17', 'TIPO_EE17','AREA_M2_ELEC','NOMBDIST_ELEC',
                      'NOMBPROV_ELEC','NOMBDEP_ELEC','SHAPE_AREA_ELEC','SHAPE_LENGHT_ELEC']].copy()

In [438]:
print(vul.shape,risk.shape,sal.shape,agua.shape,elec.shape)

(108816, 13) (108815, 12) (647, 23) (106989, 14) (106989, 10)

In [450]:
from functools import reduce

# Lista de los DataFrames seleccionados que quieres unir
dataframes_selected = [vul_selected, risk_selected, dens_selected, sal_selected, agua_selected, elec_selected]

# Realiza la unión de todos los DataFrames usando un outer join en la columna 'ID_Manzana'
df_unido_seleccionado = reduce(lambda left, right: pd.merge(left, right, on='ID_MANZANA', how='outer'), dataframes_selected)

In [442]:
df_unido_seleccionado.shape

(113392, 58)

In [539]:
#df_unido_seleccionado

In [459]:
df_unido_seleccionado.to_excel('BD1_integrada.xlsx',index=False)

#### PRUEBAS INICIALES

In [264]:
sal.rename(columns={'SHAPE_LENGTH': 'SHAPE_LENGHT'},inplace=True)

In [282]:
df1 = vul[['ID_MANZANA','NOMBDIST','NOMBPROV','NOMBDEP','SHAPE_AREA','SHAPE_LENGHT']].copy()

In [284]:
df1['SHAPE_AREA'] = df1['SHAPE_AREA'].astype(str)
df1['SHAPE_LENGHT'] = df1['SHAPE_LENGHT'].astype(str)

In [286]:
df2 = sal[['ID_MANZANA','NOMBDIST','NOMBPROV','NOMBDEP','SHAPE_AREA','SHAPE_LENGHT']].copy()

In [292]:
df2['ID_MANZANA'] = df2['ID_MANZANA'].astype(str)
df2['SHAPE_AREA'] = df2['SHAPE_AREA'].astype(str)
df2['SHAPE_LENGHT'] = df2['SHAPE_LENGHT'].astype(str)

## -----------------------------------------------------------

In [541]:
vul_selected['NIV_VULNE'].unique()

array(['ALTA', 'SIN VULNE', 'MUY ALTA', 'MEDIA', 'BAJA'], dtype=object)

In [543]:
# Diccionario de mapeo
mapa_vulne = {
    'SIN VULNE': 0,
    'BAJA': 1,
    'MEDIA': 2,
    'ALTA': 3,
    'MUY ALTA': 4
}

# Asignar valores a 'CLASE' usando el diccionario
vul_selected['CLASE'] = vul_selected['NIV_VULNE'].map(mapa_vulne)

# Reemplazar los valores que no estén en el diccionario por None (opcional)
vul_selected['CLASE'] = vul_selected['CLASE'].fillna(np.nan)

In [547]:
vul_selected.head()

,ID_MANZANA,COD_VULNE,TIPO_VULNE,NIV_VULNE,DESC_VULNE,AREA_HAS_VULN,NOMBDIST_VULN,NOMBPROV_VULN,NOMBDEP_VULN,SHAPE_AREA_VULN,SHAPE_LENGHT_VULN,CLASE
0,15010300200031C,VSISIS-000001,SINTESIS,ALTA,VULNERABILIDAD SINTESIS DEL MEDIO URBANO ANTE ...,0.013762,ATE,LIMA,LIMA,137.62,52.76,3
1,15010302600036B,VSISIS-000002,SINTESIS,ALTA,VULNERABILIDAD SINTESIS DEL MEDIO URBANO ANTE ...,0.201682,ATE,LIMA,LIMA,2016.82,262.12,3
2,150111001000010,VSISIS-000003,SINTESIS,SIN VULNE,SIN VULNERABILIDAD,0.266720,EL AGUSTINO,LIMA,LIMA,2667.20,210.90,0
3,150111001000030,VSISIS-000004,SINTESIS,ALTA,VULNERABILIDAD SINTESIS DEL MEDIO URBANO ANTE ...,0.177740,EL AGUSTINO,LIMA,LIMA,1777.40,170.11,3
4,150111001000040,VSISIS-000005,SINTESIS,MUY ALTA,VULNERABILIDAD SINTESIS DEL MEDIO URBANO ANTE ...,0.139178,EL AGUSTINO,LIMA,LIMA,1391.78,148.00,4

In [549]:
# Agrupar por ID_MANZANA y mantener solo la fila con la CLASE más alta
vul_agrupado = vul_selected.loc[vul_selected.groupby('ID_MANZANA')['CLASE'].idxmax()]

# Reiniciar el índice si es necesario
#vul_selected = vul_selected.reset_index(drop=True)

In [553]:
vul_agrupado.nunique()

ID_MANZANA           106991
COD_VULNE            106991
TIPO_VULNE                1
NIV_VULNE                 5
DESC_VULNE                2
AREA_HAS_VULN         99388
NOMBDIST_VULN            43
NOMBPROV_VULN             1
NOMBDEP_VULN              1
SHAPE_AREA_VULN       99375
SHAPE_LENGHT_VULN     44785
CLASE                     5
dtype: int64

In [555]:
vul_agrupado.shape

(106991, 12)

### ------------------------------------------------------------------------------

In [564]:
risk_selected['NIV_RIESGO'].unique()

array(['ALTO', 'SIN RIESGO', 'MEDIO', 'MUY ALTO', 'BAJO'], dtype=object)

In [568]:
# Diccionario de mapeo
mapa_risk = {
    'SIN RIESGO': 0,
    'BAJO': 1,
    'MEDIO': 2,
    'ALTO': 3,
    'MUY ALTO': 4
}

# Asignar valores a 'CLASE' usando el diccionario
risk_selected['CLASE'] = risk_selected['NIV_RIESGO'].map(mapa_risk)

# Reemplazar los valores que no estén en el diccionario por None (opcional)
risk_selected['CLASE'] = risk_selected['CLASE'].fillna(np.nan)

In [570]:
# Agrupar por ID_MANZANA y mantener solo la fila con la CLASE más alta
risk_agrupado = risk_selected.loc[risk_selected.groupby('ID_MANZANA')['CLASE'].idxmax()]

In [576]:
risk_agrupado['ID_MANZANA'].nunique()

106991

In [578]:
risk_agrupado.shape

(106991, 12)

### BASE DE DATOS 3

In [611]:
from functools import reduce

# Lista de los DataFrames seleccionados que quieres unir
dataframes_selected_1 = [vul_agrupado, risk_agrupado, dens_selected, agua_selected, elec_selected]

# Realiza la unión de todos los DataFrames usando un outer join en la columna 'ID_Manzana'
df_unido_seleccionado_1 = reduce(lambda left, right: pd.merge(left, right, on='ID_MANZANA', how='outer'), dataframes_selected_1)

In [613]:
df_unido_seleccionado_1

,ID_MANZANA,COD_VULNE,TIPO_VULNE,NIV_VULNE,DESC_VULNE,AREA_HAS_VULN,NOMBDIST_VULN,NOMBPROV_VULN,NOMBDEP_VULN,SHAPE_AREA_VULN,...,SHAPE_AREA_AGUA,SHAPE_LENGHT_AGUA,COB_EE17,TIPO_EE17,AREA_M2_ELEC,NOMBDIST_ELEC,NOMBPROV_ELEC,NOMBDEP_ELEC,SHAPE_AREA_ELEC,SHAPE_LENGHT_ELEC
0,150101001000010,VSISIS-108707,SINTESIS,BAJA,VULNERABILIDAD SINTESIS DEL MEDIO URBANO ANTE ...,0.250972,LIMA,LIMA,LIMA,2509.72,...,2509.72,231.66,CON COBERTURA,1.0,2509.72,LIMA CERCADO,LIMA,LIMA,2509.72,231.66
1,150101001000020,VSISIS-108708,SINTESIS,SIN VULNE,SIN VULNERABILIDAD,0.201530,LIMA,LIMA,LIMA,2015.30,...,2015.30,201.90,CON COBERTURA,1.0,2015.30,LIMA CERCADO,LIMA,LIMA,2015.30,201.90
2,150101001000030,VSISIS-108709,SINTESIS,SIN VULNE,SIN VULNERABILIDAD,0.971006,LIMA,LIMA,LIMA,9710.06,...,9710.06,793.55,CON COBERTURA,1.0,9710.06,LIMA CERCADO,LIMA,LIMA,9710.06,793.55
3,150101001000040,VSISIS-070998,SINTESIS,MEDIA,VULNERABILIDAD SINTESIS DEL MEDIO URBANO ANTE ...,0.540858,LIMA,LIMA,LIMA,5408.58,...,5408.58,303.74,CON COBERTURA,1.0,5408.58,LIMA CERCADO,LIMA,LIMA,5408.58,303.74
4,150101001000050,VSISIS-070999,SINTESIS,ALTA,VULNERABILIDAD SINTESIS DEL MEDIO URBANO ANTE ...,0.506666,LIMA,LIMA,LIMA,5066.67,...,5066.67,301.88,CON COBERTURA,1.0,5066.66,LIMA CERCADO,LIMA,LIMA,5066.67,301.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107081,15013213902022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107082,15013213903011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107083,15014300700024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107084,15014304500018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107085,15014304803001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [615]:
df1 = df_unido_seleccionado_1.drop(columns=['SHAPE_AREA_VULN','SHAPE_LENGHT_VULN','SHAPE_AREA_RIESG',
                 'SHAPE_LENGHT_RIESG','SHAPE_AREA_DENS','SHAPE_LENGHT_DENS',
                'SHAPE_AREA_AGUA', 'SHAPE_LENGHT_AGUA','SHAPE_AREA_ELEC','SHAPE_LENGHT_ELEC',
                'COD_VULNE','TIPO_VULNE','NOMBPROV_VULN','NOMBDEP_VULN','NOM_PELI_RIESG','NOMBPROV_RIESG',
                'NOMBDEP_RIESG','NOMBPROV_AGUA','NOMBDEP_AGUA',
                'NOMBPROV_ELEC','NOMBDEP_ELEC','AREA_HAS_VULN','COD_RIESGO','AREA_HAS_RIESG',
                      'AREA_M2','AREA_M2_AGUA','AREA_M2_ELEC']).copy()

In [617]:
df_clean = df1.dropna(subset=['NIV_VULNE'])
df_clean

,ID_MANZANA,NIV_VULNE,DESC_VULNE,NOMBDIST_VULN,CLASE_x,NIV_RIESGO,DESC_RIESG,NOMBDIST_RIESG,CLASE_y,TOT_POB17,TOT_POB20,DENS_POB17,DENS_POB20,COB_AP17,NOMBDIST_AGUA,COB_EE17,TIPO_EE17,NOMBDIST_ELEC
0,150101001000010,BAJA,VULNERABILIDAD SINTESIS DEL MEDIO URBANO ANTE ...,LIMA,1.0,MEDIO,RIESGO DEL MEDIO URBANO ANTE SISMO,LIMA,2.0,164.0,170.0,0.065346,0.065346,CON COBERTURA,LIMA CERCADO,CON COBERTURA,1.0,LIMA CERCADO
1,150101001000020,SIN VULNE,SIN VULNERABILIDAD,LIMA,0.0,SIN RIESGO,SIN RIESGO,LIMA,0.0,4.0,4.0,0.001985,0.001985,CON COBERTURA,LIMA CERCADO,CON COBERTURA,1.0,LIMA CERCADO
2,150101001000030,SIN VULNE,SIN VULNERABILIDAD,LIMA,0.0,SIN RIESGO,SIN RIESGO,LIMA,0.0,56.0,58.0,0.005767,0.005767,CON COBERTURA,LIMA CERCADO,CON COBERTURA,1.0,LIMA CERCADO
3,150101001000040,MEDIA,VULNERABILIDAD SINTESIS DEL MEDIO URBANO ANTE ...,LIMA,2.0,MEDIO,RIESGO DEL MEDIO URBANO ANTE SISMO,LIMA,2.0,235.0,244.0,0.043450,0.043450,CON COBERTURA,LIMA CERCADO,CON COBERTURA,1.0,LIMA CERCADO
4,150101001000050,ALTA,VULNERABILIDAD SINTESIS DEL MEDIO URBANO ANTE ...,LIMA,3.0,ALTO,RIESGO DEL MEDIO URBANO ANTE SISMO,LIMA,3.0,361.0,374.0,0.071250,0.071250,CON COBERTURA,LIMA CERCADO,CON COBERTURA,1.0,LIMA CERCADO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106986,150143088000470,ALTA,VULNERABILIDAD SINTESIS DEL MEDIO URBANO ANTE ...,VILLA MARIA DEL TRIUNFO,3.0,MUY ALTO,RIESGO DEL MEDIO URBANO ANTE SISMO,VILLA MARIA DEL TRIUNFO,4.0,10.0,10.0,0.008153,0.008153,SIN COBERTURA,VILLA MARIA DEL TRIUNFO,CON COBERTURA,1.0,VILLA MARIA DEL TRIUNFO
106987,150143088000480,ALTA,VULNERABILIDAD SINTESIS DEL MEDIO URBANO ANTE ...,VILLA MARIA DEL TRIUNFO,3.0,MUY ALTO,RIESGO DEL MEDIO URBANO ANTE SISMO,VILLA MARIA DEL TRIUNFO,4.0,42.0,44.0,0.015187,0.015187,SIN COBERTURA,VILLA MARIA DEL TRIUNFO,CON COBERTURA,1.0,VILLA MARIA DEL TRIUNFO
106988,150143088000490,ALTA,VULNERABILIDAD SINTESIS DEL MEDIO URBANO ANTE ...,VILLA MARIA DEL TRIUNFO,3.0,MUY ALTO,RIESGO DEL MEDIO URBANO ANTE SISMO,VILLA MARIA DEL TRIUNFO,4.0,57.0,59.0,0.017048,0.017048,SIN COBERTURA,VILLA MARIA DEL TRIUNFO,CON COBERTURA,1.0,VILLA MARIA DEL TRIUNFO
106989,150143088000500,ALTA,VULNERABILIDAD SINTESIS DEL MEDIO URBANO ANTE ...,VILLA MARIA DEL TRIUNFO,3.0,MUY ALTO,RIESGO DEL MEDIO URBANO ANTE SISMO,VILLA MARIA DEL TRIUNFO,4.0,61.0,63.0,0.021286,0.021286,SIN COBERTURA,VILLA MARIA DEL TRIUNFO,CON COBERTURA,1.0,VILLA MARIA DEL TRIUNFO
106990,15014308800050A,ALTA,VULNERABILIDAD SINTESIS DEL MEDIO URBANO ANTE ...,VILLA MARIA DEL TRIUNFO,3.0,MUY ALTO,RIESGO DEL MEDIO URBANO ANTE SISMO,VILLA MARIA DEL TRIUNFO,4.0,26.0,27.0,0.011280,0.011280,SIN COBERTURA,VILLA MARIA DEL TRIUNFO,CON COBERTURA,1.0,VILLA MARIA DEL TRIUNFO

In [619]:
df_clean.isnull().sum()

ID_MANZANA         0
NIV_VULNE          0
DESC_VULNE         0
NOMBDIST_VULN      0
CLASE_x            0
NIV_RIESGO         0
DESC_RIESG         0
NOMBDIST_RIESG     0
CLASE_y            0
TOT_POB17         97
TOT_POB20         97
DENS_POB17        97
DENS_POB20        97
COB_AP17           4
NOMBDIST_AGUA      4
COB_EE17           4
TIPO_EE17          4
NOMBDIST_ELEC      4
dtype: int64

In [629]:
df_comp1 = df_clean.drop(columns=['NOMBDIST_RIESG','NOMBDIST_AGUA','NOMBDIST_ELEC','CLASE_x','CLASE_y']).copy()
df_comp1

,ID_MANZANA,NIV_VULNE,DESC_VULNE,NOMBDIST_VULN,NIV_RIESGO,DESC_RIESG,TOT_POB17,TOT_POB20,DENS_POB17,DENS_POB20,COB_AP17,COB_EE17,TIPO_EE17
0,150101001000010,BAJA,VULNERABILIDAD SINTESIS DEL MEDIO URBANO ANTE ...,LIMA,MEDIO,RIESGO DEL MEDIO URBANO ANTE SISMO,164.0,170.0,0.065346,0.065346,CON COBERTURA,CON COBERTURA,1.0
1,150101001000020,SIN VULNE,SIN VULNERABILIDAD,LIMA,SIN RIESGO,SIN RIESGO,4.0,4.0,0.001985,0.001985,CON COBERTURA,CON COBERTURA,1.0
2,150101001000030,SIN VULNE,SIN VULNERABILIDAD,LIMA,SIN RIESGO,SIN RIESGO,56.0,58.0,0.005767,0.005767,CON COBERTURA,CON COBERTURA,1.0
3,150101001000040,MEDIA,VULNERABILIDAD SINTESIS DEL MEDIO URBANO ANTE ...,LIMA,MEDIO,RIESGO DEL MEDIO URBANO ANTE SISMO,235.0,244.0,0.043450,0.043450,CON COBERTURA,CON COBERTURA,1.0
4,150101001000050,ALTA,VULNERABILIDAD SINTESIS DEL MEDIO URBANO ANTE ...,LIMA,ALTO,RIESGO DEL MEDIO URBANO ANTE SISMO,361.0,374.0,0.071250,0.071250,CON COBERTURA,CON COBERTURA,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106986,150143088000470,ALTA,VULNERABILIDAD SINTESIS DEL MEDIO URBANO ANTE ...,VILLA MARIA DEL TRIUNFO,MUY ALTO,RIESGO DEL MEDIO URBANO ANTE SISMO,10.0,10.0,0.008153,0.008153,SIN COBERTURA,CON COBERTURA,1.0
106987,150143088000480,ALTA,VULNERABILIDAD SINTESIS DEL MEDIO URBANO ANTE ...,VILLA MARIA DEL TRIUNFO,MUY ALTO,RIESGO DEL MEDIO URBANO ANTE SISMO,42.0,44.0,0.015187,0.015187,SIN COBERTURA,CON COBERTURA,1.0
106988,150143088000490,ALTA,VULNERABILIDAD SINTESIS DEL MEDIO URBANO ANTE ...,VILLA MARIA DEL TRIUNFO,MUY ALTO,RIESGO DEL MEDIO URBANO ANTE SISMO,57.0,59.0,0.017048,0.017048,SIN COBERTURA,CON COBERTURA,1.0
106989,150143088000500,ALTA,VULNERABILIDAD SINTESIS DEL MEDIO URBANO ANTE ...,VILLA MARIA DEL TRIUNFO,MUY ALTO,RIESGO DEL MEDIO URBANO ANTE SISMO,61.0,63.0,0.021286,0.021286,SIN COBERTURA,CON COBERTURA,1.0
106990,15014308800050A,ALTA,VULNERABILIDAD SINTESIS DEL MEDIO URBANO ANTE ...,VILLA MARIA DEL TRIUNFO,MUY ALTO,RIESGO DEL MEDIO URBANO ANTE SISMO,26.0,27.0,0.011280,0.011280,SIN COBERTURA,CON COBERTURA,1.0

In [631]:
df_comp1.isnull().sum()

ID_MANZANA        0
NIV_VULNE         0
DESC_VULNE        0
NOMBDIST_VULN     0
NIV_RIESGO        0
DESC_RIESG        0
TOT_POB17        97
TOT_POB20        97
DENS_POB17       97
DENS_POB20       97
COB_AP17          4
COB_EE17          4
TIPO_EE17         4
dtype: int64

In [639]:
df_comp1.to_excel('BD_ManzanasCarac.xlsx',index=False)

In [635]:
df_comp1.nunique()

ID_MANZANA       106991
NIV_VULNE             5
DESC_VULNE            2
NOMBDIST_VULN        43
NIV_RIESGO            5
DESC_RIESG            2
TOT_POB17           939
TOT_POB20           939
DENS_POB17        49792
DENS_POB20        49792
COB_AP17              3
COB_EE17              3
TIPO_EE17             3
dtype: int64

### BASE DE DATOS 4

In [582]:
from functools import reduce

df_unido = sal_selected.copy()

# Lista de los DataFrames seleccionados que quieres unir
dataframes_selected_2 = [vul_agrupado, risk_agrupado, dens_selected, agua_selected, elec_selected]

for df in dataframes_selected_2:
    df_unido = pd.merge(df_unido, df, on='ID_MANZANA', how='left')

In [584]:
df_unido

,ID_MANZANA,COD_ES,TIP_EQ,INSTITUTO_ES,NIV_AT_ES,GEST_ES,CAT_ES,NCAT_ES,NOM_EQ,POB_ATEN_20,...,SHAPE_AREA_AGUA,SHAPE_LENGHT_AGUA,COB_EE17,TIPO_EE17,AREA_M2_ELEC,NOMBDIST_ELEC,NOMBPROV_ELEC,NOMBDEP_ELEC,SHAPE_AREA_ELEC,SHAPE_LENGHT_ELEC
0,150137013000570,8318,SALUD,ESSALUD,SEGUNDO NIVEL,PUBLICO,HOSPITAL I,II-1,HOSPITAL I JORGE VOTO BERNALES CORPANCHO,30000,...,360096.75,2980.37,CON COBERTURA,1.0,360096.75,SANTA ANITA,LIMA,LIMA,360096.75,2980.37
1,150110047000570,27565,SALUD,ESSALUD,SEGUNDO NIVEL,PUBLICO,HOSPITAL I,II-1,HOSPITAL I MARINO MOLINA SCIPPA - ESSALUD,30000,...,46399.52,883.77,CON COBERTURA,1.0,46399.52,COMAS,LIMA,LIMA,46399.52,883.77
2,150132064000210,8317,SALUD,ESSALUD,SEGUNDO NIVEL,PUBLICO,HOSPITAL I,II-1,HOSPITAL AURELIO DIAZ UFANO Y PERAL,30000,...,6416.95,395.21,CON COBERTURA,1.0,6416.95,SAN JUAN DE LURIGANCHO,LIMA,LIMA,6416.95,395.21
3,150122004000480,8489,SALUD,ESSALUD,SEGUNDO NIVEL,PUBLICO,HOSPITAL II,II-2,ESSALUD - HOSPITAL III SUÁREZ ANGAMOS,30000,...,9527.26,391.12,CON COBERTURA,1.0,9527.26,MIRAFLORES,LIMA,LIMA,9527.26,391.12
4,150101020000370,9188,SALUD,ESSALUD,SEGUNDO NIVEL,PUBLICO,HOSPITAL I,II-1,HOSPITAL II RAMON CASTILLA,30000,...,15156.71,477.94,CON COBERTURA,1.0,15156.71,LIMA CERCADO,LIMA,LIMA,15156.71,477.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
642,15014301800004A,6156,SALUD,MINSA,PRIMER NIVEL,PUBLICO,PUESTO DE SALUD CON MEDICO,I-2,PUESTO DE SALUD VALLE BAJO,3000,...,4046.29,286.10,CON COBERTURA,1.0,4046.29,VILLA MARIA DEL TRIUNFO,LIMA,LIMA,4046.29,286.10
643,150113001000130,9982,SALUD,PRIVADO,SEGUNDO NIVEL,PRIVADO,HOSPITAL II ESPECIALIZADO,II-E,CLINICA REPROMEDIC,30000,...,9505.53,467.84,CON COBERTURA,1.0,9505.53,JESUS MARIA,LIMA,LIMA,9505.53,467.84
644,150108003000140,14615,SALUD,SISOL,PRIMER NIVEL,PUBLICO,CENTRO DE SALUD SIN INTERNAMIENTO,I-3,SISOL CHORRILLOS,10000,...,1205818.35,6263.44,NO DATA,3.0,1205818.35,CHORRILLOS,LIMA,LIMA,1205818.35,6263.44
645,150143055000580,6144,SALUD,MINSA,PRIMER NIVEL,PUBLICO,PUESTO DE SALUD CON MEDICO,I-2,PUESTO DE SALUD CESAR VALLEJO,3000,...,1438.88,159.03,CON COBERTURA,1.0,1438.88,VILLA MARIA DEL TRIUNFO,LIMA,LIMA,1438.88,159.03
646,150143002000130,6158,SALUD,MINSA,PRIMER NIVEL,PUBLICO,PUESTO DE SALUD CON MEDICO,I-2,PUESTO DE SALUD VILLA LIMATAMBO,3000,...,1966.46,204.82,NO DATA,3.0,1966.46,VILLA MARIA DEL TRIUNFO,LIMA,LIMA,1966.46,204.82

In [605]:
df1_unido = df_unido.drop(columns=['SHAPE_AREA_VULN','SHAPE_LENGHT_VULN','SHAPE_AREA_RIESG',
                 'SHAPE_LENGHT_RIESG','SHAPE_AREA_DENS','SHAPE_LENGHT_DENS',
                'SHAPE_AREA_SAL','SHAPE_LENGHT_SAL','SHAPE_AREA_AGUA',
                'SHAPE_LENGHT_AGUA','SHAPE_AREA_ELEC','SHAPE_LENGHT_ELEC','COD_VULNE','TIPO_VULNE',
                'NOMBPROV_VULN','NOMBDEP_VULN','NOM_PELI_RIESG','NOMBPROV_RIESG','NOMBDEP_RIESG',
                'TIP_EQ','NOMBPROV_SAL','NOMBDEP_SAL','NOMBPROV_AGUA','NOMBDEP_AGUA',
                'NOMBPROV_ELEC','NOMBDEP_ELEC','AREA_HAS_VULN','COD_RIESGO','AREA_HAS_RIESG',
                      'AREA_M2','AREA_M2_AGUA','AREA_M2_ELEC','COD_ES','NOMBDIST_SAL','NOMBDIST_RIESG',
                                  'NOMBDIST_AGUA','NOMBDIST_ELEC']).copy()

In [607]:
df1_unido.head()

,ID_MANZANA,INSTITUTO_ES,NIV_AT_ES,GEST_ES,CAT_ES,NCAT_ES,NOM_EQ,POB_ATEN_20,AREA_M2_SAL,NIV_VULNE,...,NIV_RIESGO,DESC_RIESG,CLASE_y,TOT_POB17,TOT_POB20,DENS_POB17,DENS_POB20,COB_AP17,COB_EE17,TIPO_EE17
0,150137013000570,ESSALUD,SEGUNDO NIVEL,PUBLICO,HOSPITAL I,II-1,HOSPITAL I JORGE VOTO BERNALES CORPANCHO,30000,103659.611494,ALTA,...,ALTO,RIESGO DEL MEDIO URBANO ANTE SISMO,3,751,778,0.002086,0.002086,CON COBERTURA,CON COBERTURA,1.0
1,150110047000570,ESSALUD,SEGUNDO NIVEL,PUBLICO,HOSPITAL I,II-1,HOSPITAL I MARINO MOLINA SCIPPA - ESSALUD,30000,9744.781048,ALTA,...,ALTO,RIESGO DEL MEDIO URBANO ANTE SISMO,3,300,311,0.006466,0.006466,CON COBERTURA,CON COBERTURA,1.0
2,150132064000210,ESSALUD,SEGUNDO NIVEL,PUBLICO,HOSPITAL I,II-1,HOSPITAL AURELIO DIAZ UFANO Y PERAL,30000,6405.989557,SIN VULNE,...,SIN RIESGO,SIN RIESGO,0,122,126,0.019012,0.019012,CON COBERTURA,CON COBERTURA,1.0
3,150122004000480,ESSALUD,SEGUNDO NIVEL,PUBLICO,HOSPITAL II,II-2,ESSALUD - HOSPITAL III SUÁREZ ANGAMOS,30000,877.428270,MEDIA,...,MEDIO,RIESGO DEL MEDIO URBANO ANTE SISMO,2,326,338,0.034218,0.034218,CON COBERTURA,CON COBERTURA,1.0
4,150101020000370,ESSALUD,SEGUNDO NIVEL,PUBLICO,HOSPITAL I,II-1,HOSPITAL II RAMON CASTILLA,30000,7586.999979,SIN VULNE,...,SIN RIESGO,SIN RIESGO,0,79,82,0.005212,0.005212,CON COBERTURA,CON COBERTURA,1.0

In [603]:
df1_unido.isnull().sum()

ID_MANZANA        0
INSTITUTO_ES      0
NIV_AT_ES         0
GEST_ES           0
CAT_ES            0
NCAT_ES           0
NOM_EQ            0
POB_ATEN_20       0
AREA_M2_SAL       0
NOMBDIST_SAL      0
NIV_VULNE         0
DESC_VULNE        0
NOMBDIST_VULN     0
CLASE_x           0
NIV_RIESGO        0
DESC_RIESG        0
NOMBDIST_RIESG    0
CLASE_y           0
TOT_POB17         0
TOT_POB20         0
DENS_POB17        0
DENS_POB20        0
COB_AP17          0
NOMBDIST_AGUA     0
COB_EE17          0
TIPO_EE17         0
NOMBDIST_ELEC     0
dtype: int64

In [641]:
df1_unido.to_excel('BD_Centros_Salud.xlsx',index=False)